main14 {
    display: grid;
    grid-gap: 1rem;
    height: 100vh;
    grid-template-columns: repeat(auto-fit, minmax(7rem, auto));
}

.numero14 {
    display: flex;
    justify-content: center;
    align-items: center;
}

main14 > .numero14 {
    background-color: aquamarine;
}

main14 > .numero14:nth-child(4) {
    background-color: #fff;
    display: block;
}

main15 {
    display: grid;
    grid-gap: 1rem;
    height: 100%;
    grid-template-columns: repeat(2, 1fr);
}

.numero15 {
    display: flex;
    justify-content: center;
    align-items: center;
}

main15 .numero15 {
    background-color: orange;
}


main13 {
    display: grid;
    grid-gap: 1rem;
    height: 100vh;
    grid-template-columns: 20rem 7rem;
    grid-auto-columns: 40rem;
    grid-auto-flow: column;
}

.numero13 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    background-color: aquamarine;
}

.numero13:nth-child(1) {
    background-color: goldenrod;
    order: 4;
}

.numero13:nth-child(2) {
    background-color: goldenrod;
    order: 3;
}

.numero13:nth-child(3) {
    background-color: goldenrod;
    order: 2;
}

.numero13:nth-child(4) {
    background-color: goldenrod;
    order: 1;
}


main12 {
    display: grid;
    grid-gap: 1rem;
    height: 100vh;
    grid-template-columns: 20rem 7rem;
    grid-auto-columns: 40rem;
    grid-auto-flow: column;
}

.numero12 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    background-color: aquamarine;
}

.numero12:first-of-type,
.numero12:nth-child(2) {
    background-color: goldenrod;
}


main11 {
    display: grid;
    grid-gap: 1rem;
    margin: 2rem 0;
}

main11 .numero11 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}
.auto-fill .numero11{
    background-color:teal;
    color: white;
}

.auto-fit .numero11{
    background-color:brown;
    color: white;
}

.auto-fill {
    grid-template-columns: repeat(auto-fill, minmax(4rem, 1fr));
}
.auto-fit {
    grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
}


main10 {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 
    [col-lg-start] minmax(7rem, 1fr)
    [col-lg-end col-md-start] minmax(4rem, 1fr)
    [col-md-end col-sm-start] minmax(2rem, 1fr)
    [col-sm-end]
    )
    [end]
    ;
}

main10 > * {
    background-color: burlywood;
    padding: 1rem;
    font-size: 3em;
    justify-content: center;
    align-items: center;
}
.primero:first-of-type {
    background-color: red;
    grid-column: start / end;
}


main9 {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, minmax(2rem, 1fr));
}

main9 > * {
    background-color: burlywood;
    padding: 1rem;
    font-size: 3em;
    justify-content: center;
    align-items: center;
}

main8 {
    display: grid;
    grid-gap: 1rem;
    grid-template-areas:
        'header header header header header'
        'izquierda contenido contenido contenido derecha'
        'pie pie pie pie pie';
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 6fr 1fr;
}
@media (max-width: 590.3px) {
    main8 {
        grid-template-areas:
            'header'
            'izquierda'
            'contenido'
            'derecha'
            'pie';
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }  
}

main8 > * {
    background-color: burlywood;
    padding: 1rem;
    font-size: 3em;
    justify-content: center;
    align-items: center;
}

.cabecera8 { grid-area: header; }   
.izquierda8 { grid-area: izquierda; }   
aside:first-of-type { background-color: aquamarine; }
aside:last-of-type { background-color: azure; }
.derecha8 { grid-area: derecha; }   
.contenido8 { grid-area: contenido; }
.pie8 { grid-area: pie; }  

main7 > * {
    background-color: burlywood;
    padding: 1rem;
    font-size: 3em;
}

main7 {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
}
@media (max-width: 591.90px) {
    main7 {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }   
}
/* @media (max-width: 891.90px) {
    main7 {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }   
} */

@media (min-width: 591.90px) {
    main7 {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }   
}

main6 > * {
    background-color: burlywood;
    padding: 1rem;
    font-size: 3em;
}

main6 {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns:
        [sidebar-start] 1fr
        [sidebar-end contenido-start] 2fr
        [contenido-end];
    grid-template-rows:
        [header-start] 1fr
        [header-end contenido-start] 2fr
        [contenido-end footer-start] 1fr
        [footer-end];
}

header {
    grid-column: sidebar-start / contenido-end;
    grid-row: header-start / header-end;
}
aside {
    grid-row: contenido-start / footer-end;
    grid-column: sidebar-start / sidebar-end;
}
article {
    grid-column: contenido-start / contenido-end;
    grid-row: contenido-start / -1;
}
footer {
    grid-column: sidebar-start / contenido-end;  
}

/*quitar lo anterior para que funcione lo inicial*/

.numeros4 {
    background-color: blueviolet;
    border: 1px black solid;
}

main5 {
    height: 100vh;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, auto);
    /* grid-template-rows: repeat(3, auto); */
    grid-auto-rows: 1fr;
}

panel1 {
    padding: 1rem;
    background-color: white;
    border-radius: 1rem;
    border: 1px #ccc solid;
    height: 4rem;
    display: grid;
    column-gap: 1rem;
    row-gap: 1rem;
    grid-template-columns: auto 1fr auto;
}



.numeros3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:antiquewhite;
}

main4 {
    height: 100vh;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    grid-template-rows: auto auto auto;
}

main3 {
    height: 100vh;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: auto auto auto;
}

.numeros2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:antiquewhite;
}
/*ubicarnos en el número 9*/
/*grid-column-end: 5; para que llegue al número cinco*/
/*grid-column-end: -1; para que siempre llegue al final*/
.numeros2:nth-child(9){
    background-color: teal;
    /* grid-column-start: 1;
    grid-column-end: -1; */
    grid-column: 1 / -1;
}

.numeros2:nth-child(6){
    background-color: teal;
    grid-column-start: 2;
    grid-column-end: 4; 
}

.numeros {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}

main > * {
    background-color: burlywood;
    padding: 1rem;
    font-size: 3em;
}

main {
    display: grid;
    grid-gap: 1rem;
}
@media (max-width: 576px){
    main {
        grid-template-areas:
        "header"
        "izquierda"
        "article"
        "derecha"
        "footer"
    ;
    }
}
main2 > * {
    background-color: burlywood;
    padding: 1rem;
    font-size: 3em;
}
main2 {
    display: grid;
    grid-gap: 1rem;
    grid-template-areas:
        "header header header"
        "izquierda contenido derecha"
        "footer footer ."
        ;
}
@media (min-width: 576px){
    main {
        grid-template-areas:
            "header header header"
            "izquierda contenido derecha"
            "footer footer footer"
            ;
    }
}

header {
    grid-area: header;
}

aside:first-of-type {
    grid-area: izquierda;
}

article {
    grid-area: contenido;
}

aside:last-of-type {
    grid-area: derecha;
}

footer {
    grid-area: footer;
}
.login{
    grid-area: login;
}