main11 {
    display: grid;
    grid-gap: 1rem;
    margin: 2rem 0;
}

main11 .numero11 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}
.auto-fill .numero11{
    background-color:teal;
    color: white;
}

.auto-fill {
    grid-template-columns: repeat(12, minmax(4rem, 1fr));
}