.lista-red {
  background: red;
}

.lista-blue {
  background: blue;
}

.lista-green {
  background: green;
}

.colores-uno {
  color: #2F497A;
}

.colores-dos {
  color: #5D1F72;
}

.colores-tres {
  color: #7F9C30;
}