.container {
  background: #4FAAEE;
  min-height: 100vh;
  padding: 40px;
}

.titulo-main {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.texto-dsc {
  font-size: 25px;
  text-align: right;
  font-weight: bold;
}

.button {
  font-size: 20px;
  text-decoration: none;
  margin: 15px;
  color: #ffff;
}
.button .log {
  background: #CC2727;
  padding: 25px;
}
.button .sign {
  background: #2CBF28;
  padding: 25px;
}

.dsc-list {
  margin: 40px;
  color: #9C1F89;
  font-size: 20px;
}
.dsc-list .dsc-span {
  text-transform: uppercase;
  color: #165A26;
  font-weight: bold;
}

@media (max-width: 1024px) {
  .container {
    padding: 30px;
  }

  .titulo-main {
    font-size: 40px;
    text-align: left;
    font-weight: normal;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 20px;
  }

  .titulo-main {
    font-size: 30px;
    text-align: right;
    font-style: italic;
  }
}